/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
}

/* Splash */
.navbar-brand {
  font-family: 'Dancing Script', cursive;
  color: #fed137;
  font-size: 30px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.navbar-nav a {
  font-family: 'Yantramanav', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

ul {
  margin: 0;
}

ul li {
  display: inline;
  padding: 0 10px 0 10px;
}

.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/4792070/pexels-photo-4792070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Courgette', cursive;
}

.page-subtitle {
  margin: 0 0 0 0;
  color: #ffffff;
  font-size: 65px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

/* section */
section {
  padding: 60px;
}

section h1 {
  font-size: 45px;
  margin: 0;
}

section h2 {
  font-size: 15px;
  color: gray;
  font-family: 'Yantramanav', sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
}

/* services */
.services p {
  font-size: 15px;
  color: gray;
  font-family: 'Yantramanav', sans-serif;
  margin-top: 0;
  margin-bottom: 50px;
}

.box {
  padding: 0 30px 0 30px;
}

.services i {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 30px;
  background: #ffffff;
  width: 60px;
  height: 60px;
  color: #fed137;
  border-radius: 50%;
  line-height: 60px;
  border-color: #fed137;
  border-style: solid;
}

/* portfolio */
.portoflio {
  background-color: #ececec;
}
